<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title_tag_text }}</title>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/syntax.css">
  <link rel="stylesheet" href="css/solo.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.25/skrollr.min.js"  ></script>
{% include head.html %}
</head>
<body >
  <div id="skrollr-body" >
    <div class="section group">
      <div class="sidebar col span_1_of_3">
        <img src="profile.jpg" alt="me">
      </div>
      <div class="container col span_2_of_3">
        {{ content }}
      </div>
    </div>
    <div class="showoff" data-0="background-position:0px -600px; " data-end="background-position: 0px 0px"></div>
    <!--<div class="showoff" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;"></div>-->
  </div>
  <div id=msgme
    class="remind-composer-button" 
    data-text="Share on Remind" 
    data-body="hello"
    data-size="medium"
    data-theme="dark"
    >
  </div>
<hr>
<div id=msgbox></div>



{% include scripts.html %}

<script>
  remind.renderComposer(document.getElementById('#msgbox'), { 
    body: 'Dave is truly the best',
  });
  </script>
</body>
</html>