<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title_tag_text }}</title>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/syntax.css">
  <link rel="stylesheet" href="css/solo.css">
{% include head.html %}
</head>
<body>
  <div class="section group">
    <div class="sidebar col span_1_of_3">
      <img src="https://s.gravatar.com/avatar/0d06481629b88cec0eca425b0d2dbc7c?s=250" alt="me">
      <img src="https://scontent-b.xx.fbcdn.net/hphotos-prn2/t1.0-9/407670_10152228219680627_2117577347_n.jpg">
    </div>
    <div class="container col span_2_of_3">
      {{ content }}
    </div>
  </div>
{% include scripts.html %}
</body>
</html>
